[KillbotsRuleset]
name=Classic
rows=22
columns=59
initialEnemyCount=10
enemiesAddedEachRound=5
initialFastEnemyCount=0
fastEnemiesAddedEachRound=0
initialEnergy=0
maximumEnergy=0
energyPerWaitKill=0
energyPerSquashKill=0
costOfSafeTeleport=1
includePushableJunkheaps=false
initialJunkheapCount=0
pointsPerRobotKill=5
pointsPerSuperbotKill=0
pointsPerWaitKill=1
pointsPerSquashKill=0


