[KillbotsRuleset]
Name=Classic
Name[be]=Класічны
Name[ca]=Clàssic
Name[cs]=Klasický
Name[da]=Klassisk
Name[de]=Klassisch
Name[el]=Κλασσικό
Name[eo]=Klasika
Name[es]=Clásico
Name[et]=Klassikaline
Name[fa]=کلاسیک
Name[fi]=Klassinen
Name[fr]=Classique
Name[ga]=Clasaiceach
Name[gl]=Clásico
Name[hu]=klasszikus
Name[it]=Classico
Name[ja]=クラシック
Name[km]=ក្លាស៊ិក
Name[ko]=고전
Name[lv]=Klasiska
Name[nds]=Klass'sch
Name[ne]=उत्कृष्ट
Name[nl]=Klassiek
Name[nn]=Klassisk
Name[pl]=Klasyczny
Name[pt]=Clássico
Name[pt_BR]=Clássico
Name[ru]=Классический красный
Name[sl]=Klasična
Name[sv]=Klassiskt
Name[tr]=Klasik
Name[uk]=Класична
Name[wa]=Classike
Name[x-test]=xxClassicxx
Name[zh_CN]=经典
Name[zh_TW]=古典
Author=Parker Coates
AuthorContact=parker.coates@gmail.com
Description=<qt><p>The ruleset used in the original BSD command line version of <tt>robots</tt>. Nothing fancy, just the basic game elements. No fastbots. No safe teleports. No pushing junkheaps.</p><p>A 59 by 22 cell grid that starts with 10 robots, 5 more are added each round. 5 points for each robot destroyed. 1 bonus point for each robot destroyed while waiting out the round.</p><p>Due to its larger width, it is recommended that you use a theme with narrower tiles to better fit your screen.</p></qt>
Rows=22
Columns=59
EnemiesAtGameStart=10
EnemiesAddedEachRound=5
FastEnemiesAtGameStart=0
FastEnemiesAddedEachRound=0
EnergyAtGameStart=0
EnergyAddedEachRound=0
MaxEnergyAtGameStart=0
MaxEnergyAddedEachRound=0
CostOfSafeTeleport=99
PushableJunkheaps=None
SquaskKillsEnabled=false
JunkheapsAtGameStart=0
JunkheapsAddedEachRound=0
PointsPerEnemyKilled=5
PointsPerFastEnemyKilled=0
WaitKillPointBonus=1
WaitKillEnergyBonus=0
SquashKillPointBonus=0
SquashKillEnergyBonus=0


