[KillbotsRuleset]
Name=Classic
Name[be]=Класічны
Name[ca]=Clàssic
Name[cs]=Klasický
Name[da]=Klassisk
Name[de]=Klassisch
Name[el]=Κλασσικό
Name[eo]=Klasika
Name[es]=Clásico
Name[et]=Klassikaline
Name[fa]=کلاسیک
Name[fi]=Klassinen
Name[fr]=Classique
Name[ga]=Clasaiceach
Name[gl]=Clásico
Name[hne]=क्लासिक
Name[hu]=klasszikus
Name[it]=Classico
Name[ja]=クラシック
Name[km]=ក្លាស៊ិក
Name[ko]=고전
Name[lt]=Klasikinė
Name[lv]=Klasiska
Name[nds]=Klass'sch
Name[ne]=उत्कृष्ट
Name[nl]=Klassiek
Name[nn]=Klassisk
Name[pl]=Klasyczny
Name[pt]=Clássico
Name[pt_BR]=Clássico
Name[ro]=Clasic
Name[ru]=Классический красный
Name[sl]=Klasična
Name[sv]=Klassiskt
Name[tr]=Klasik
Name[uk]=Класична
Name[wa]=Classike
Name[x-test]=xxClassicxx
Name[zh_CN]=经典
Name[zh_TW]=古典
Author=Parker Coates
AuthorContact=parker.coates@gmail.com
Description=<qt><p>The rules used in the original BSD command line version of <tt>robots</tt>.</p><p>Nothing fancy, just the basic game elements: no fastbots, no safe teleports, no pushing junkheaps, and a huge game grid.</p><p>Due to its larger width, it is recommended that you use a theme with narrower tiles to better fit your screen.</p></qt>
Description[de]=<qt><p>Die Regeln des originalen <tt>robots</tt> für die BSD-Befehlszeile. Nichts Ausgefallenes, sondern nur die minimalen Spielelemente. Keine „Schnellen Roboter“, kein „Sicheres Teleportieren“ und keine verschiebbaren „Müllhalden“ und ein großes Spielfeld.</p><p>Durch die Breite wird zur besseren Darstellung die Verwendung eines Designs mit schmaleren Zellen empfohlen.</p></qt>
Description[el]=<qt><p>Οι κανόνες που χρησιμοποιήθηκαν στην αρχική έκδοση γραμμής εντολών BSD του <tt>robots</tt>. Τίποτα εντυπωσιακό, απλά τα βασικά στοιχεία του παιχνιδιού: Χωρίς γρήγορα ρομπότ. Χωρίς ασφαλείς τηλεμεταφορές. Χωρίς μετακίνηση σκουπιδιών.</p><p>Λόγω του μεγάλου πλάτους του, προτείνεται η χρήση ενός θέματος με στενότερα κομμάτια έτσι ώστε να χωρέσει στην οθόνη σας.</p></qt>
Description[et]=<qt><p>Seda reeglistikku kasutati algses mängu <tt>robots</tt> BSD käsureaversioonis.</p><p>Ei midagi erilist, lihtsalt peamised mängu elemendid. Kiirroboteid pole. Turvalist teleporti pole. Rämpsukuhilate lükkamist pole. Ruudustik on tohutu.</p><p>Suurema laiuse tõttu on soovitatav kasutada kitsamate klotsidega teemat, et see paremini ekraanile mahuks.</p></qt>
Description[ga]=<qt><p>Na rialacha a úsáideadh sa bhunleagan BSD de <tt>robots</tt> ar líne na n-orduithe.</p><p>Rialacha simplí agus eilimintí bunúsacha an chluiche amháin: gan róbónna tapa, gan teileaphort slán, gan bruscar a bhrú, agus greille ollmhór.</p><p>De bharr an leithid mhóir, moltar duit téama a bhfuil tíleanna níos caoile agat a úsáid, sa chaoi go n-oiriúnóidh sé don scáileán níos fearr.</p></qt>
Description[gl]=<qt><p>As regras empregadas na versión orixinal de <tt>robots</tt> da BSD para a liña de comandos.</p><p>Nada extraordinario, só os elementos básicos do xogo: non hai robots rápidos, nin teleportación, nin chatarras que empurrar e unha grella de celas enorme.</p><p>Debido á anchura, recoméndase que empregue un tema con pezas máis estreitas, para que caiba mellor na pantalla.</p></qt>
Description[nds]=<qt><p>De Regeln ut de Orginaal-BSD-Konsoolverschoon vun <tt>Robots</tt>.</p><p>Keen afsünnerlich Saken, bloots de normalen Speelelementen: keen Gaukeerls, keen seker Teleporteren, keen Schuven vun Misthopens, un en groot Speelfeld.</p><p>Dat Feld is recht wat groot. Bruuk man en Muster mit lütter Feller, denn passt dat beter op den Schirm.</p></qt>
Description[pt]=<qt><p>O conjunto de regras usado na versão original para a linha de comandos em BSD do <tt>robots</tt>. Nada de bonito, tendo apenas os elementos básicos. Não tem os robots rápidos, nem os tele-transportes seguros, nem os montes de lixo para empurrar, e uma enorme grelha de jogo.</p><p>Devido ao seu tamanho maior, recomenda-se que use um tema com peças mais estreitas, de modo a caber melhor no seu ecrã.</p></qt>
Description[pt_BR]=<qt><p>As regras usadas na versão BSD original para linha de comando de  <tt>robots</tt>.</p><p>Nada sofisticado, apenas os elementos básicos do jogo: sem fastbots, sem teleportes seguros, sem empurrar as pilhas de lixo e um grande quadriculado de jogo.</p><p>Devido à largura maior é recomendado se usar um tema com células estreitas para melhor visualização.</p></qt>
Description[sv]=<qt><p>Regeluppsättningen som användes i den ursprungliga kommandoradversionen i BSD av <tt>robots</tt>. Ingenting speciellt, bara de grundläggande spelelementen: Inga snabbotar, ingen säker teleportering, inget knuffande av skrothögar, och ett enormt rutnät.</p><p>På grund av dess stora bredd, rekommenderas du att använda ett tema med smalare rutor för att det ska få plats bättre på skärmen.</p></qt>
Description[uk]=<qt><p>Набір правил, що використовувався у оригінальній версії для командного рядка під BSD гри <tt>robots</tt>.</p><p>Нічого зайвого, лише базові елементи гри: без швидкоботів, без безпечних телепортів, без штовхання куп брухту і велике ігрове поле.</p><p>Через більшу ширину поля рекомендуємо використовувати тему з вужчими плитками, яка краще пасує до розмірів вашого екрана.</p></qt>
Description[x-test]=xx<qt><p>The rules used in the original BSD command line version of <tt>robots</tt>.</p><p>Nothing fancy, just the basic game elements: no fastbots, no safe teleports, no pushing junkheaps, and a huge game grid.</p><p>Due to its larger width, it is recommended that you use a theme with narrower tiles to better fit your screen.</p></qt>xx
Description[zh_CN]=<qt><p>最初用于 BSD 命令行版本的 <tt>robot</tt> 程序中的规则。它没有什么新奇之处，只提供基本的游戏组成部分，没有快速机器人，没有安全传送，没有垃圾堆，却有一个很大的游戏区域。</p><p>由于盘面很大，建议您选用较窄的主题以免画面超出屏幕。</p></qt>
Description[zh_TW]=<qt><p>這個規則集用於原始 BSD 命令列版本的 <tt>robots</tt> 遊戲。</p> <p>沒有很炫的功能，只有最基本的遊戲元素：沒有快速機器人，沒有安全傳送，不能推垃圾堆，還有棋盤要大得多。</p>  <p>因為棋盤很大，建議使用較窄的主題才不會超出螢幕。</p></qt>
Rows=22
Columns=59
EnemiesAtGameStart=10.0
EnemiesAddedEachRound=5.0
FastEnemiesAtGameStart=0.0
FastEnemiesAddedEachRound=0.0
EnergyEnabled=false
EnergyAtGameStart=0
EnergyAddedEachRound=0
MaxEnergyAtGameStart=0.0
MaxEnergyAddedEachRound=0.0
SafeTeleportEnabled=false
CostOfSafeTeleport=0
VaporizerEnabled=false
CostOfVaporizer=0
PushableJunkheaps=None
SquaskKillsEnabled=false
JunkheapsAtGameStart=0.0
JunkheapsAddedEachRound=0.0
PointsPerEnemyKilled=5
PointsPerFastEnemyKilled=0
WaitKillPointBonus=1
WaitKillEnergyBonus=0
SquashKillPointBonus=0
SquashKillEnergyBonus=0
