[KillbotsRuleset]
Name=Daleks
Author=Parker Coates
AuthorContact=parker.coates@kdemail.net
Description=<qt><p>An approximation of the rules used in Daleks, a robots-like game for early Apple computers.</p><p>The hero is allotted one energy each round that can be used to power the sonic screwdriver. All other special features are disabled.</p></qt>
Rows=20
Columns=20
EnemiesAtGameStart=8.0
EnemiesAddedEachRound=8.0
FastEnemiesAtGameStart=0.0
FastEnemiesAddedEachRound=0.0
FastEnemiesArePatient=false
EnergyEnabled=true
EnergyAtGameStart=1
EnergyAddedEachRound=1
MaxEnergyAtGameStart=1.0
MaxEnergyAddedEachRound=0.0
SafeTeleportEnabled=false
CostOfSafeTeleport=0
VaporizerEnabled=true
CostOfVaporizer=1
PushableJunkheaps=None
SquaskKillsEnabled=false
JunkheapsAtGameStart=0.0
JunkheapsAddedEachRound=0.0
PointsPerEnemyKilled=5
PointsPerFastEnemyKilled=0
WaitKillPointBonus=1
WaitKillEnergyBonus=0
SquashKillPointBonus=0
SquashKillEnergyBonus=0
PointsPerEnergyAboveMax=0
