[KillbotsRuleset]
Name=Daleks
Name[et]=Dalekid
Name[sv]=Dalek
Name[zh_TW]=戴立克
Author=Parker Coates
AuthorContact=parker.coates@gmail.com
Description=<qt><p>The default Killbots ruleset.</p><p>A 16 by 16 cell grid. The game starts with 8 robots, 8 more are added each round. Using the sonic screwdriver costs 1 energy. 1 energy added each round with a maximum energy cap of 1. 5 points for each robot destroyed and 1 bonus point for each enemy destroyed while waiting out the round.</p></qt>
Description[et]=<qt><p>Vaikimisi Killbotsi reeglistik.</p><p>16x16 ruudustik. Mäng algab 8 robotiga, igas voorus lisandub neid 8. Helikruvitsa kasutamine maksab 1 energia. Igas voorus lisatakse 1 energia, maksimaalselt saab neid olla 12. 5 punkti iga hävitatud roboti eest ja 1 boonuspunkt iga vooru ootamise ajal hävitatud vaenlase eest.</p></qt>
Description[pt]=<qt><p>O tema predefinido do Killbots.</p><p>Uma grelha de 16 por 16 células. O jogo começa com 8 robots, sendo adicionados mais 8 a cada ronda. Se usar a chave de parafusos sónica, gasta 1 ponto de energia. É adicionado 1 ponto de energia com um tecto máximo de 1. Pode ganhar 5 pontos por cada robot destruído e 1 ponto de bónus de energia por cada inimigo destruído enquanto espera na ronda.</p></qt>
Description[pt_BR]=<qt><p>O tema predefinido do Killbots.</p><p>Uma grelha de 16 por 16 células. O jogo começa com 8 robots, sendo adicionados mais 8 a cada ronda. Se usar a chave de parafusos sónica, gasta 1 ponto de energia. É adicionado 1 ponto de energia com um tecto máximo de 1. Pode ganhar 5 pontos por cada robot destruído e 1 ponto de bónus de energia por cada inimigo destruído enquanto espera na ronda.</p></qt>
Description[sv]=<qt><p>Regeluppsättningen som är standard i Killbots.</p><p>Ett 16 gånger 16 rutnät. Spelet börjar med 8 robotar, ytterligare 8 läggs till varje omgång. Användning av den soniska skruvmejseln kostar en energienhet. En energienhet läggs till varje omgång, med maximalt energitak 1. 5 poäng för varje förstörd robot och 1 bonuspoäng för varje fiende som förstörs vid väntan på omgångens slut.</p></qt>
Description[uk]=<qt><p>Типові правила Killbots.</p><p>Поле 16 на 16 клітинок. Гру розпочинають з 8 роботами, ще по 8 додаються кожного раунду. Використання звукової викрутки коштує 1 одиницю енергії. Кожного раунду додається 1 одиниця енергії з максимальним бонусом у 1 енергію. 5 очок за кожного знищеного робота і 1 бонусне очко за кожного ворога знищеного під час очікування кінця раунду.</p></qt>
Description[zh_TW]=<qt><p>預設的 Killbots 規則集。</p>  <p>16x16 格狀棋盤。開始有八隻機器人，每一回合加八隻，音速起子會耗掉 1 點能源。 每一回合會加一點能源，最多有 12 點。打死一隻機器人 5 分，機器人在回合外等待時就被打死， 可以得到一點能源。</p></qt>
Rows=16
Columns=16
EnemiesAtGameStart=8.0
EnemiesAddedEachRound=8.0
FastEnemiesAtGameStart=0.0
FastEnemiesAddedEachRound=0.0
EnergyEnabled=true
EnergyAtGameStart=1
EnergyAddedEachRound=1
MaxEnergyAtGameStart=1.0
MaxEnergyAddedEachRound=0.0
SafeTeleportEnabled=false
CostOfSafeTeleport=1
SonicScrewdriverEnabled=true
CostOfSonicScrewdriver=1
PushableJunkheaps=None
SquaskKillsEnabled=false
JunkheapsAtGameStart=0.0
JunkheapsAddedEachRound=0.0
PointsPerEnemyKilled=5
PointsPerFastEnemyKilled=0
WaitKillPointBonus=1
WaitKillEnergyBonus=0
SquashKillPointBonus=0
SquashKillEnergyBonus=0
