[KillbotsRuleset]
Name=Killbots
Name[ca]=Killbots
Name[cs]=Killbots
Name[da]=Killbots
Name[de]=Killbots
Name[el]=Killbots
Name[en_GB]=Killbots
Name[es]=Killbots
Name[et]=Killbots
Name[eu]=Killbots
Name[fr]=Killbots
Name[ga]=Killbots
Name[gl]=Robots asasinos
Name[hu]=Killbots
Name[it]=Killbots
Name[ja]=Killbots
Name[km]=Killbots
Name[lv]=Killbots
Name[nds]=Killbots
Name[nl]=Killbots
Name[nn]=Killbots
Name[pa]=ਕਿਲਬੋਟ
Name[pl]=Killbots
Name[pt]=Killbots
Name[pt_BR]=Killbots
Name[ro]=Killbots
Name[ru]=Killbots
Name[sl]=Killbots
Name[sr]=К‑злоботи
Name[sr@latin]=K‑zloboti
Name[sv]=Killbots
Name[tr]=Killbots
Name[uk]=Killbots
Name[x-test]=xxKillbotsxx
Name[zh_CN]=Killbots
Name[zh_TW]=Killbots
Author=Parker Coates
AuthorContact=parker.coates@gmail.com
Description=<qt><p>The default Killbots game type.</p><p>Includes a medium size grid, safe teleports, fast enemies and pushable junkheaps.</p></qt>
Description[ca]=<qt><p>El tipus de joc de Killbots per omissió.</p><p>Inclou una graella de mida mitjana, teletransports de seguretat, enemics ràpids i munt de ferralla que es poden empènyer.</p></qt>
Description[da]=<qt><p>Standard-spiltypen Killbots.</p><p>Inkluderer mellemstørrelses gitter, sikre teleporteringer, hurtige fjender og skrotbunker der kan skubbes.</p></qt>
Description[de]=<qt><p>Die Standard-Spielart von Killbots.</p><p>Sie enthält ein mittelgroßes Spielfeld und unterstützt „Sicheres Teleportieren“, „Schnelle Roboter“ und verschiebbare „Müllhalden“.</p></qt>
Description[el]=<qt><p>Ο προκαθορισμένος τύπος παιχνιδιού Killbots.</p><p>Περιλαμβάνει έναν μεσαίο κάνναβο, ασφαλείς τηλεμεταφορές, γρήγορους εχθρούς και μετακινούμενες στοίβες σκουπιδιών.</p></qt>
Description[en_GB]=<qt><p>The default Killbots game type.</p><p>Includes a medium size grid, safe teleports, fast enemies and pushable junkheaps.</p></qt>
Description[es]=<qt><p>El tipo de juego por omisión de Killbots.</p><p>Incluye una rejilla de tamaño medio, teletransporte seguro, enemigos rápidos y montones de chatarra que se pueden empujar.</p></qt>
Description[et]=<qt><p>Killbotsi vaikimisi mängutüüp.</p><p>Sisaldab keskmise suurusega ruudustikku, turvalisi teleporte, kiireid vaenlasi ja lükatavaid rämpsukuhilaid.</p></qt>
Description[eu]=<qt><p>Killbots joku mota lehenetsia.</p><p>Tamaina erdiko sarea dauka, telegarraio segurua, etsai azkarrak eta bultza daitezkeen zabor piloak.</p></qt>
Description[fr]=<qt><p>Le type de jeu par défaut de Killbots.</p><p>Cette version inclut une grille de taille moyenne, des téléportations sécurisées, des ennemis rapides et des obstacles déplaçables..</p></qt>
Description[ga]=<qt><p>An cineál réamhshocraithe cluiche Killbots.</p><p>Greille mheánmhéide, teileaphort slán, naimhde tapa agus bruscar inbhrúite.</p></qt>
Description[gl]=<qt><p>O xogo tipo Killbots por omisión.</p><p>Inclúe unha grella mediana, teleportacións seguras, enemigos rápidos e chatarra que se pode empurrar.</p></qt>
Description[hu]=<qt><p>Az alapértelmezett Killbots játéktípus.</p><p>Tartalmaz egy közepes méretű rácsot, biztonságos teleportokat, gyorsan mozgó ellenségeket és eltolható hulladékkupacokat.</p></qt>
Description[it]=<qt><p>Le regole predefinite per giocare a Killbots.</p><p>Includono una griglia a maglie medie, teletrasporti sicuri, nemici veloci e la possibilità di spingere i rottami.</p></qt>
Description[lv]=<qt><p>Noklusētais Killbots spēles tips.</p><p>Tas sevī iekļauj vidēja izmēra koordinātu tīklu, drošo teleportāciju un grūžamās atkritumkaudzes.</p></qt>
Description[nds]=<qt><p>Dat Standard-Killbots-Speel:</p><p>En Middelgroot Speelfeld, seker Teleporteren, gaue Blickkeerls un Misthopens laat sik schuven.</p></qt>
Description[nl]=<qt><p>Het standaard Killbots speltype.</p><p>Bevat een raster van gemiddelde grootte, veilige telepoorten, snelle vijanden en indrukbare afvalhopen.</p></qt>
Description[nn]=<qt><p>Standardreglane.</p><p>Eit middels stort spelebrett, trygge teleporteringar, kjappe fiendar og bosshaugar du kan skubba.</p></qt>
Description[pl]=<qt><p>Domyślny typ gry Killbots.</p><p>Zawiera średni rozmiar siatki, bezpieczną teleportację, szybkich wrogów i możliwość przesuwania śmieci.</p></qt>
Description[pt]=<qt><p>O tipo de jogo predefinido do Killbots.</p><p>Inclui uma grelha de tamanho médio, tele-transportes seguros, inimigos rápidos e montes de lixo para empurrar.</p></qt>
Description[pt_BR]=<qt><p>O jogo padrão do Killbots.</p><p>Inclui uma grelha de tamanho médio, teleportes seguros, inimigos rápidos e montes de lixo para empurrar.</p></qt>
Description[sl]=<qt><p>Privzeti pravilnik Killbots.</p><p>Mreža je srednje velikosti, vsebuje varne teleportacije, hitre robote in pokvarjene robote, ki jih je moč potiskati.</p></qt>
Description[sr]=<qt><p>Подразумевани тип игре К‑злобота.</p><p>Укључује средње велико поље, безбедно телепортовање, брзе непријатеље и кршеве који се могу гурати.</p></qt>
Description[sr@latin]=<qt><p>Podrazumevani tip igre K‑zlobota.</p><p>Uključuje srednje veliko polje, bezbedno teleportovanje, brze neprijatelje i krševe koji se mogu gurati.</p></qt>
Description[sv]=<qt><p>Killbots standardspeltyp.</p><p>Inkluderar ett medelstort rutnät, säker teleportering, snabba fiender och knuffbara skrothögar.</p></qt>
Description[uk]=<qt><p>Типовий тип гри Killbots.</p><p>Ігрове поле середніх розмірів, безпечні телепортації, швидкі вороги і придатні до пересування купи брухту.</p></qt>
Description[x-test]=xx<qt><p>The default Killbots game type.</p><p>Includes a medium size grid, safe teleports, fast enemies and pushable junkheaps.</p></qt>xx
Description[zh_CN]=<qt><p>默认的 Killbots 游戏类型。</p><p>包含中等大小的游戏区域、安全传送、快速敌人和可推动的垃圾堆。</p></qt>
Description[zh_TW]=<qt><p>預設的 Killbots 遊戲型態。</p> <p>包含中等大小的棋盤格，安全傳送，快速機器人與可推動的垃圾堆。</p></qt>
Rows=16
Columns=16
EnemiesAtGameStart=8.0
EnemiesAddedEachRound=4.0
FastEnemiesAtGameStart=-2.0
FastEnemiesAddedEachRound=2.0
EnergyEnabled=true
EnergyAtGameStart=0
EnergyAddedEachRound=0
MaxEnergyAtGameStart=12.0
MaxEnergyAddedEachRound=0.0
SafeTeleportEnabled=true
CostOfSafeTeleport=1
VaporizerEnabled=false
CostOfVaporizer=0
PushableJunkheaps=Many
SquaskKillsEnabled=true
JunkheapsAtGameStart=0.0
JunkheapsAddedEachRound=0.0
PointsPerEnemyKilled=5
PointsPerFastEnemyKilled=10
WaitKillPointBonus=0
WaitKillEnergyBonus=1
SquashKillPointBonus=0
SquashKillEnergyBonus=1
