[KillbotsRuleset]
Name=Killbots
Name[gl]=Robots asasinos
Name[x-test]=xxKillbotsxx
Author=Parker Coates
AuthorContact=parker.coates@gmail.com
Description=<qt><p>The default Killbots game type.</p><p>Includes a medium size grid, safe teleports, fast enemies and pushable junkheaps.</p></qt>
Description[el]=<qt><p>Ο προκαθορισμένος τύπος παιχνιδιού Killbots.</p><p>Περιλαμβάνει έναν μεσαίο κάνναβο, ασφαλείς τηλεμεταφορές, γρήγορους εχθρούς και μετακινούμενες στοίβες σκουπιδιών.</p></qt>
Description[et]=<qt><p>Killbotsi vaikimisi mängutüüp.</p><p>Sisaldab keskmise suurusega ruudustikku, turvalisi teleporte, kiireid vaenlasi ja lükatavaid rämpsukuhilaid.</p></qt>
Description[ga]=<qt><p>An cineál réamhshocraithe cluiche Killbots.</p><p>Greille mheánmhéide, teileaphort slán, naimhde tapa agus bruscar inbhrúite.</p></qt>
Description[gl]=<qt><p>O xogo tipo Killbots por omisión.</p><p>Inclúe unha grella mediana, teleportacións seguras, enemigos rápidos e chatarra que se pode empurrar.</p></qt>
Description[nds]=<qt><p>Dat Standard-Killbots-Speel:</p><p>En Middelgroot Speelfeld, seker Teleporteren, gaue Blickkeerls un Misthopens laat sik schuven.</p></qt>
Description[pt]=<qt><p>O tipo de jogo predefinido do Killbots.</p><p>Inclui uma grelha de tamanho médio, tele-transportes seguros, inimigos rápidos e montes de lixo para empurrar.</p></qt>
Description[pt_BR]=<qt><p>O tipo de jogo predefinido do Killbots.</p><p>Inclui uma grelha de tamanho médio, tele-transportes seguros, inimigos rápidos e montes de lixo para empurrar.</p></qt>
Description[sv]=<qt><p>Killbots standardspeltyp.</p><p>Inkluderar ett medelstort rutnät, säker teleportering, snabba fiender och knuffbara skrothögar.</p></qt>
Description[uk]=<qt><p>Типовий тип гри Killbots.</p><p>Ігрове поле середніх розмірів, безпечні телепортації, швидкі вороги і придатні до пересування купи брухту.</p></qt>
Description[x-test]=xx<qt><p>The default Killbots game type.</p><p>Includes a medium size grid, safe teleports, fast enemies and pushable junkheaps.</p></qt>xx
Description[zh_TW]=<qt><p>預設的 Killbots 遊戲型態。</p> <p>包含中等大小的棋盤格，安全傳送，快速機器人與可推動的垃圾堆。</p></qt>
Rows=16
Columns=16
EnemiesAtGameStart=8.0
EnemiesAddedEachRound=4.0
FastEnemiesAtGameStart=-2.0
FastEnemiesAddedEachRound=2.0
EnergyEnabled=true
EnergyAtGameStart=0
EnergyAddedEachRound=0
MaxEnergyAtGameStart=12.0
MaxEnergyAddedEachRound=0.0
SafeTeleportEnabled=true
CostOfSafeTeleport=1
SonicScrewdriverEnabled=false
CostOfSonicScrewdriver=0
PushableJunkheaps=Many
SquaskKillsEnabled=true
JunkheapsAtGameStart=0.0
JunkheapsAddedEachRound=0.0
PointsPerEnemyKilled=5
PointsPerFastEnemyKilled=10
WaitKillPointBonus=0
WaitKillEnergyBonus=1
SquashKillPointBonus=0
SquashKillEnergyBonus=1
