[KillbotsRuleset]
Name=Crowded (testing)
Name[sv]=Trängsel (prov)
Rows=12
Columns=12
RobotsAtGameStart=20
RobotsAddedEachRound=10
FastbotsAtGameStart=5
FastbotsAddedEachRound=2
EnergyAtGameStart=50
EnergyAddedEachRound=0
MaxEnergyAtGameStart=99
MaxEnergyAddedEachRound=0
CostOfSafeTeleport=1
JunkheapsArePushable=true
JunkheapsAtGameStart=10
JunkheapsAddedEachRound=-2
PointsPerRobotKilled=5
PointsPerFastbotKilled=10
WaitKillPointBonus=0
WaitKillEnergyBonus=1
SquashKillPointBonus=0
SquashKillEnergyBonus=1


