[KillbotsRuleset]
Name=ZZZ Crowded (testing)
Name[el]=ZZZ πολυπληθές (δοκιμή)
Name[gl]=ZZZ Ateigado (en probas)
Name[nds]=ZZZ Vullpramst (utproberen)
Name[pt]=Multidão ZZZ (testes)
Name[pt_BR]=Multidão ZZZ (testes)
Name[sv]=ZZZ-trängsel (prov)
Name[uk]=З натовпом (тестування)
Name[x-test]=xxZZZ Crowded (testing)xx
Name[zh_TW]=ZZZ 好擠啊（測試中）
Author=Parker Coates
AuthorContact=1285 Western Road, London, Ontario, Canada
Description=<qt><p>A testing game configuration, not intended to be playable. Used to test the try-to-safe-teleport-but-board-is-full logic.</p><p>A 12 by 12 cell grid that quickly fill with enemies. Fortunately, there's a near infinite supply of safe teleports.</p></qt>
Description[gl]=<qt><p>Unha configuración de partida para probas, non pretende ser xogábel. Emprégase para probar a lóxica try-to-safe-teleport-but-board-is-full.</p> <p>Unha grella de 12 por 12 que se se enche rapidamente de inimigos. Afortunadamente hai unha subministración case infinita de teleportacións.</p></qt>
Description[nds]=<qt><p>En Utprobeer-Speelopstellen, lett sik nich spelen. Bruukt för't Utproberen vun de Seker-teleporteren-bi-vullpramst-Brett-Klappmatuur.</p><p>En Gadder vun 12 op 12 Feller, dat sik gau mit Feenden füllt. Man goot, dat gifft seker Teleporteren meist ahn Enn.</p></qt>
Description[pt]=<qt><p>Uma configuração de testes para o jogo, cuja possibilidade de o jogar não é pretendida. É usado para testar a lógica para tentar-o-tele-transporte-seguro-mas-o-tabuleiro-está-cheio.</p><p>Uma grelha de 12 por 12 células que se enche rapidamente de inimigos. Felizmente, existe um fornecimento quase infinito de tele-transportes seguros.</p></qt>
Description[pt_BR]=<qt><p>Uma configuração de testes para o jogo, cuja possibilidade de o jogar não é pretendida. É usado para testar a lógica para tentar-o-tele-transporte-seguro-mas-o-tabuleiro-está-cheio.</p><p>Uma grelha de 12 por 12 células que se enche rapidamente de inimigos. Felizmente, existe um fornecimento quase infinito de tele-transportes seguros.</p></qt>
Description[sv]=<qt><p>En provinställning av spelet, som inte är avsedd att vara spelbar. Används för att prova logiken vid försök att teleportera säkert när brädet är fullt.</p><p>Ett 12 gånger 12 rutnät som snabbt fylls med fiender. Som tur är finns ett nästan oändligt antal säkra teleporteringar.</p></qt>
Description[uk]=<qt><p>Тестова конфігурація гри, не призначена власне для гри. Використовується для перевірки логіки спроб телепортації у безпечне місце під час заповнення поля гри.</p><p>Поле розміром 12 на 12 клітинок, яке швидко наповнюється ворогами. На щастя, існує майже незліченна кількість безпечних телепортів.</p></qt>
Description[x-test]=xx<qt><p>A testing game configuration, not intended to be playable. Used to test the try-to-safe-teleport-but-board-is-full logic.</p><p>A 12 by 12 cell grid that quickly fill with enemies. Fortunately, there's a near infinite supply of safe teleports.</p></qt>xx
Description[zh_TW]=<qt><p>測試中的遊戲設定，可能沒辦法玩。用於測試「試著安全傳送，但棋盤已滿」的狀況。</p>  <p>12x12 格子，滿滿都是敵人。還好可以有幾乎無限次的安全傳送。</p></qt>
Rows=12
Columns=12
EnemiesAtGameStart=20
EnemiesAddedEachRound=10
FastEnemiesAtGameStart=5
FastEnemiesAddedEachRound=2
EnergyAtGameStart=99
EnergyAddedEachRound=99
MaxEnergyAtGameStart=99
MaxEnergyAddedEachRound=0
CostOfSafeTeleport=1
PushableJunkheaps=One
SquaskKillsEnabled=false
JunkheapsAtGameStart=10
JunkheapsAddedEachRound=-2
PointsPerEnemyKilled=5
PointsPerFastEnemyKilled=10
WaitKillPointBonus=0
WaitKillEnergyBonus=1
SquashKillPointBonus=0
SquashKillEnergyBonus=1


