[KillbotsRuleset]
Name=Easy
Name[el]=Εύκολο
Name[et]=Kerge
Name[fr]=Facile
Name[ga]=Éasca
Name[gl]=Fácil
Name[km]=ងាយស្រួល
Name[oc]=Aisit
Name[pt]=Fácil
Name[sv]=Enkel
Name[tr]=Kolay
Name[uk]=Простий
Name[x-test]=xxEasyxx
Author=Parker Coates
AuthorContact=parker.coates@gmail.com
Description=<qt><p>An easier ruleset.</p><p>A 20 by 20 cell grid with lots of space and 15 starting junkheaps for shelter. The game starts with 6 robots, 3 more are added each round. 1 fastbots are added each round after Round 5. The game starts with 5 energy and teleporting safely costs 1 energy. Maximum energy cap is 10 and increases by 1 every 2 rounds. Multiple junkheaps may be pushed at once. 5 points for each robot destroyed and 10 for each fastbot. 1 bonus energy for each enemy destroyed with a junkheap or while waiting out the round.</p></qt>
Description[el]=<qt><p>Ένα ευκολότερο σύνολο χαρακτήρων.</p></qt>
Description[et]=<qt><p>Lihtsam reeglistik.</p></qt>
Description[fr]=<qt><p>Des règles simplifiées.</p></qt>
Description[gl]=<qt><p>Unha regras máis sinxelas.</p></qt>
Description[km]=<qt><p>សំណុំ​ច្បាប់​ងាយស្រួល​ជាង ។</p></qt>
Description[pt]=<qt><p>Um conjunto de regras mais simples.</p></qt>
Description[sv]=<qt><p>En enklare regeluppsättning.</p></qt>
Description[uk]=<qt><p>Простий набір правил.</p></qt>
Description[x-test]=xx<qt><p>An easier ruleset.</p></qt>xx
Rows=20
Columns=20
EnemiesAtGameStart=6
EnemiesAddedEachRound=3
FastEnemiesAtGameStart=-4
FastEnemiesAddedEachRound=1
EnergyAtGameStart=5
EnergyAddedEachRound=1
MaxEnergyAtGameStart=10
MaxEnergyAddedEachRound=0.5
CostOfSafeTeleport=1
PushableJunkheaps=Many
SquaskKillsEnabled=true
JunkheapsAtGameStart=15
JunkheapsAddedEachRound=0
PointsPerEnemyKilled=5
PointsPerFastEnemyKilled=10
WaitKillPointBonus=0
WaitKillEnergyBonus=1
SquashKillPointBonus=0
SquashKillEnergyBonus=1

