[KillbotsRuleset]
Name=Energy Crisis
Name[ca]=Crisi energètica
Name[ca@valencia]=Crisi energètica
Name[da]=Energikrise
Name[de]=Energiekrise
Name[en_GB]=Energy Crisis
Name[es]=Crisis energética
Name[et]=Energiakriis
Name[fr]=Crise de l'énergie
Name[ga]=Energy Crisis
Name[gl]=Crise enerxética
Name[hu]=Energiaszűke
Name[it]=Crisi energetica
Name[nb]=Energikrise
Name[nds]=Energiekries
Name[nl]=Energiecrisis
Name[nn]=Energikrise
Name[pt]=Crise Energética
Name[pt_BR]=Crise de energia
Name[ru]=Энергетический кризис
Name[sk]=Energetická kríza
Name[sr]=Енергетска криза
Name[sr@ijekavian]=Енергетска криза
Name[sr@ijekavianlatin]=Energetska kriza
Name[sr@latin]=Energetska kriza
Name[sv]=Energikris
Name[tr]=Enerji Krizi
Name[uk]=Енергетична криза
Name[x-test]=xxEnergy Crisisxx
Name[zh_CN]=能量危机
Name[zh_TW]=能量危機
Author=Parker Coates
AuthorContact=parker.coates@gmail.com
Description=The player starts with 30 energy and cannot earn more. How many rounds can you survive and how many points can you collect before your energy and luck run out?
Description[ca]=El jugador comença amb 30 d'energia i no en pot guanyar més. Quantes rondes podeu sobreviure i quants punts podeu aconseguir abans de que la vostra energia i la vostra sort surtin corrent?
Description[ca@valencia]=El jugador comença amb 30 d'energia i no en pot guanyar més. Quantes rondes podeu sobreviure i quants punts podeu aconseguir abans de que la vostra energia i la vostra sort isquen corrent?
Description[da]=Spilleren starter med 30 i energi og kan ikke optjene mere. Hvor mange runder kan du overleve og hvor mange point kan du indsamle før du løber tør for energi og held?
Description[de]=Das Spiel beginnt mit 30 Energieeinheiten und es kann keine weitere gewonnen werden. Wie viele Runden können Sie überleben und wie viele Punkte können Sie sammeln, bis Sie das Glück verlässt?
Description[en_GB]=The player starts with 30 energy and cannot earn more. How many rounds can you survive and how many points can you collect before your energy and luck run out?
Description[es]=El jugador comienza con 30 unidades de energía y no puede conseguir más. ¿Cuántas rondas puede sobrevivir y cuántos puntos puede obtener antes de quedarse sin energía y sin suerte?
Description[et]=Mängija alustab 30 energiaga ega saa neid enam juurde. Mitu vooru suudad elus püsida ja kui palju punkte koguda, enne kui energia ja elud läbi saavad?
Description[fr]=Le joueur commence avec 30 points d'énergie et ne peut pas en gagner plus. Combien de niveaux pourrez-vous survivre et combien de points pourrez-vous collecter avant que votre énergie et votre chance s'épuisent ?
Description[hu]=A játék 30 energiával kezdődik, és nem lehet többet szerezni. A cél minél több kör teljesítése és a lehető legtöbb pont megszerzése, mielőtt az energia elfogy.
Description[it]=Il giocatore parte con energia 30 e non può rifornirsi. Per quanti turni puoi sopravvivere e quanti punti riesci a raccogliere prima che la tua energia e la tua fortuna finiscano?
Description[nb]=Spilleren starter med 30 energi og kan ikke tjene opp mer. Hvor mange runder kan du overleve og hvor mange poeng kan du samle opp før du slipper opp for energi og flaks?
Description[nds]=De Speler fangt mit 30 Energieeenheiten an, man dor kann he keen mehr to kriegen. Wo vele Törns kannst Du överleven, un wo vele Pünkt kannst Du insammeln, ehr Di Energie un Glück utgaht?
Description[nl]=De speler start met 30 energie en kan niet meer verdienen. Hoeveel ronden kunt u overleven en hoe veel punten verzamelen voordat uw energie en geluk opraken?
Description[nn]=Spelaren startar med 30 energikvantar, og kan ikkje få fleire. Kor mange rundar overlever du, og kor mange poeng kan du samla før du slepp opp for energi og flaks?
Description[pt]=O jogador começa com 30 pontos de energia e não pode ganhar mais. Quantas rondas consegue sobreviver e quantos pontos consegue recolher antes de terminar a sua energia e sorte?
Description[pt_BR]=O jogador inicia com 30 de energia e não pode ganhar mais. Quantas rodadas você pode sobreviver e quantos pontos você pode coletar antes que sua energia e sorte acabem?
Description[sr]=Играч почиње са енергијом 30 и не може зарадити још. Колико рунди можете преживети и колико поена можете сакупити пре него што вас енергија и срећа напусте?
Description[sr@ijekavian]=Играч почиње са енергијом 30 и не може зарадити још. Колико рунди можете преживјети и колико поена можете сакупити прије него што вас енергија и срећа напусте?
Description[sr@ijekavianlatin]=Igrač počinje sa energijom 30 i ne može zaraditi još. Koliko rundi možete preživjeti i koliko poena možete sakupiti prije nego što vas energija i sreća napuste?
Description[sr@latin]=Igrač počinje sa energijom 30 i ne može zaraditi još. Koliko rundi možete preživeti i koliko poena možete sakupiti pre nego što vas energija i sreća napuste?
Description[sv]=Spelaren börjar med 30 energienheter och kan inte förtjäna mer. Hur många omgångar kan du överleva och hur många poäng kan du samla in innan energin och turen tar slut?
Description[uk]=Гравець розпочинає гру з 30 одиницями енергії і не може набрати більшу кількість. Скільки раундів він зможе вижити і скільки очок набере до того, як буде вичерпано його енергію і запас талану?
Description[x-test]=xxThe player starts with 30 energy and cannot earn more. How many rounds can you survive and how many points can you collect before your energy and luck run out?xx
Description[zh_CN]=玩家一开始有 30 点能量，无法提升。在您的能量与好运用完前可以过几关，又可以得几分？
Description[zh_TW]=玩家一開始有 30 點能量，但無法再增加。在您的能量與好運用完前，您可以過幾關，又能得幾分呢？
Rows=16
Columns=16
EnemiesAtGameStart=12.0
EnemiesAddedEachRound=2.0
FastEnemiesAtGameStart=1.0
FastEnemiesAddedEachRound=1.0
FastEnemiesArePatient=true
EnergyEnabled=true
EnergyAtGameStart=30
EnergyAddedEachRound=0
MaxEnergyAtGameStart=0.0
MaxEnergyAddedEachRound=0.0
SafeTeleportEnabled=true
CostOfSafeTeleport=1
VaporizerEnabled=true
CostOfVaporizer=1
PushableJunkheaps=Many
SquaskKillsEnabled=true
JunkheapsAtGameStart=0.0
JunkheapsAddedEachRound=0.0
PointsPerEnemyKilled=5
PointsPerFastEnemyKilled=10
WaitKillPointBonus=5
WaitKillEnergyBonus=0
SquashKillPointBonus=5
SquashKillEnergyBonus=0
PointsPerEnergyAboveMax=0
