[KillbotsRuleset]
Name=Energy Crisis
Name[es]=Crisis energética
Name[gl]=Crise enerxética
Name[nds]=Energiekries
Name[pt]=Crise Energética
Name[pt_BR]=Crise de energia
Name[sv]=Energikris
Name[tr]=Enerji Krizi
Name[uk]=Енергетична криза
Name[x-test]=xxEnergy Crisisxx
Name[zh_TW]=能量危機
Author=Parker Coates
AuthorContact=parker.coates@gmail.com
Description=The player starts with 30 energy and cannot earn more. How rounds can you survive and how many points can you collect before your energy and luck run out?
Description[es]=El jugador comienza con 30 unidades de energía y no puede conseguir más. ¿Cuántas rondas puede sobrevivir y cuántos puntos puede obtener antes de quedarse sin energía y sin suerte?
Description[gl]=O xogador comeza con 30 puntos de enerxía e non pode gañar máis. Cantas rondas es capaz de aguantar e cantos puntos es capaz de conseguir antes de quedares sen enerxía nin sorte?
Description[nds]=De Speler fangt mit 30 Energieeenheiten an, man he dor kann keen mehr to kriegen. Wo vele Törns kannst Du överleven, un wo vele Pünkt kannst Du insammeln, ehr Di Energie un Glück utgaht?
Description[pt]=O jogador começa com 30 pontos de energia e não pode ganhar mais. Quantas rondas consegue sobreviver e quantos pontos consegue recolher antes de terminar a sua energia e sorte?
Description[pt_BR]=O jogador inicia com 30 de energia e não pode ganhar mais. Quantas rodadas você pode sobreviver e quantos pontos você pode coletar antes que sua energia e sorte acabem?
Description[sv]=Spelaren börjar med 30 energienheter och kan inte förtjäna mer. Hur många omgångar kan du överleva och hur många poäng kan du samla in innan energin och turen tar slut?
Description[uk]=Гравець розпочинає гру з 30 одиницями енергії і не може набрати більшу кількість. Скільки раундів він зможе вижити і скільки очок набере до того, як буде вичерпано його енергію і запас талану?
Description[x-test]=xxThe player starts with 30 energy and cannot earn more. How rounds can you survive and how many points can you collect before your energy and luck run out?xx
Description[zh_TW]=玩家一開始有 30 點能量，但無法再增加。在您的能量與好運用完前，您可以過幾關，又能得幾分呢？
Rows=16
Columns=16
EnemiesAtGameStart=12.0
EnemiesAddedEachRound=2.0
FastEnemiesAtGameStart=1.0
FastEnemiesAddedEachRound=1.0
EnergyEnabled=true
EnergyAtGameStart=30
EnergyAddedEachRound=0
MaxEnergyAtGameStart=0.0
MaxEnergyAddedEachRound=0.0
SafeTeleportEnabled=true
CostOfSafeTeleport=1
VaporizerEnabled=true
CostOfVaporizer=1
PushableJunkheaps=Many
SquaskKillsEnabled=true
JunkheapsAtGameStart=0.0
JunkheapsAddedEachRound=0.0
PointsPerEnemyKilled=5
PointsPerFastEnemyKilled=10
WaitKillPointBonus=5
WaitKillEnergyBonus=0
SquashKillPointBonus=5
SquashKillEnergyBonus=0
PointsPerEnergyAboveMax=0
