[Desktop Entry]
Name=Killbots
Name[gl]=Robots asasinos
Exec=killbots -caption "%c"
Icon=killbots
Type=Application
X-DocPath=killbots/index.html
Terminal=false
Categories=Qt;KDE;Game;StrategyGame;
