<!DOCTYPE kpartgui SYSTEM "kpartgui.dtd">
<kpartgui name="krobots" version="1">

	<MenuBar>
		<Menu name="moveMenu">
			<text>Move</text>
			<Action name="teleport"/>
			<Action name="teleport_safely"/>
			<Action name="teleport_sip"/>
			<Action name="wait_out_round"/>
		</Menu>
	</MenuBar>

	<ToolBar name="mainToolBar">
		<text>Main Toolbar</text>
		<Action name="game_new"/>
		<Separator />
		<Action name="game_highscores"/>
		<Separator />
		<Action name="teleport"/>
		<Action name="teleport_safely"/>
		<Action name="wait_out_round"/>
	</ToolBar>

</kpartgui>
