[Desktop Entry]
Name=Killbots
Name[de]=Standard
Name[gl]=Robots asasinos
Name[sr]=К‑злоботи
Name[sr@latin]=K‑zloboti
Name[x-test]=xxKillbotsxx
Exec=killbots -caption "%c"
Icon=killbots
Type=Application
X-DocPath=killbots/index.html
Terminal=false
Categories=Qt;KDE;Game;StrategyGame;
