[KGameTheme]
Name=Classic
Name[ar]=تقليدي
Name[be]=Класічны
Name[bs]=Klasično
Name[ca]=Clàssic
Name[ca@valencia]=Clàssic
Name[cs]=Klasický
Name[da]=Klassisk
Name[de]=Klassisch
Name[el]=Κλασσικό
Name[en_GB]=Classic
Name[eo]=Klasika
Name[es]=Clásico
Name[et]=Klassikaline
Name[eu]=Klasikoa
Name[fa]=کلاسیک
Name[fi]=Klassinen
Name[fr]=Classique
Name[ga]=Clasaiceach
Name[gl]=Clásico
Name[he]=קלסית
Name[hne]=क्लासिक
Name[hu]=Klasszikus
Name[ia]=Classic
Name[id]=Classic
Name[it]=Classico
Name[ja]=クラシック
Name[ka]=კლასიკური
Name[kk]=Классикалық
Name[km]=ក្លាស៊ិក
Name[ko]=고전
Name[lt]=Klasikinė
Name[lv]=Klasiska
Name[mai]=क्लासिक
Name[mr]=क्लासिक
Name[nb]=Klassisk
Name[nds]=Klass'sch
Name[ne]=उत्कृष्ट
Name[nl]=Klassiek
Name[nn]=Klassisk
Name[oc]=Classic
Name[pa]=ਟਕਸਾਲੀ
Name[pl]=Klasyczny
Name[pt]=Clássico
Name[pt_BR]=Clássico
Name[ro]=Clasic
Name[ru]=Классика
Name[sa]=क्लासिक
Name[sk]=Klasická
Name[sl]=Klasična
Name[sq]=Klasike
Name[sr]=Класично
Name[sr@ijekavian]=Класично
Name[sr@ijekavianlatin]=Klasično
Name[sr@latin]=Klasično
Name[sv]=Klassiskt
Name[tr]=Klasik
Name[ug]=كلاسسىك
Name[uk]=Класична
Name[wa]=Classike
Name[zh_CN]=经典
Name[zh_TW]=古典
Description=A theme for those who miss the console version
Description[ar]=سمة لمن يفتقد نسخة الكونسول
Description[bs]=Tema za one kojima nedostaje konzolna vezija
Description[ca]=Un tema per als que troben a faltar la versió de consola
Description[ca@valencia]=Un tema per als que troben a faltar la versió de consola
Description[da]=Et tema til dem der savner konsolversionen
Description[de]=Ein Design für diejenigen, die die Konsolen-Version vermissen.
Description[el]=Ένα θέμα γι' αυτούς που αναπολούν την έκδοση κονσόλας
Description[en_GB]=A theme for those who miss the console version
Description[eo]=Etoso por tiuj, kiuj maltrafas la konzolan version
Description[es]=Un tema para quienes echan de menos la versión de consola
Description[et]=Teema neile, kes tunnevad puudust konsooliversioonist
Description[eu]=Kontsolako bertsioa galdu zutenentzako gaia
Description[fi]=Teema konsoliversiota kaipaaville
Description[fr]=Un thème pour les nostalgiques de la version dans un terminal
Description[ga]=Téama le haghaidh daoine a mbraitheann uathu an leagan consóil
Description[gl]=Un tema visual para quen sinta nostalxia da versión para a consola
Description[he]=ערכת עיצוב למתגעגעים למהדורת המסוף
Description[hu]=Téma a konzolos változat kedvelőinek
Description[id]=Sebuah tema untuk mereka yang ketinggalan versi konsol
Description[it]=Un tema per i nostalgici della versione per terminale
Description[ka]=თემა მათთვის, ვისაც კონსოლის ვერსია ენატრება
Description[kk]=Консольдік нұсқасын сағынғандарға арналған нақышы
Description[km]=ស្បែក​សម្រាប់​អ្នក​ដែល​បាត់​កំណែ​កុងសូល
Description[ko]=콘솔 버전을 잊을 수 없는 사람 대상 테마
Description[lv]=Motīvs tiem, kuriem pietrūkst konsoles versijas
Description[nb]=Et tema for dem som savner konsollversjonen
Description[nds]=En Muster för de, de na de Konsoolverschoon lengen doot.
Description[nl]=Een thema voor diegenen die de consoleversie misten
Description[nn]=Tema for dei som saknar konsollversjonen
Description[pl]=Wystrój dla tych, którzy tęsknią za wersją konsolową
Description[pt]=Um tema para os que sentem saudades da versão para a consola
Description[pt_BR]=Um tema para aqueles que sentem falta da versão para console.
Description[ro]=O tematică pentru cei cărora le lipsește versiunea de consolă
Description[ru]=Оформление для тех, кто не играл в консольную версию
Description[sa]=ये कन्सोल् संस्करणं त्यजन्ति तेषां कृते एकः विषयः
Description[sk]=Téma pre tých, ktorým chýba konzolová verzia
Description[sl]=Tema za tiste, ki pogrešajo različico iz ukazne vrstice
Description[sr]=Тема за оне којима недостаје конзолна верзија
Description[sr@ijekavian]=Тема за оне којима недостаје конзолна верзија
Description[sr@ijekavianlatin]=Tema za one kojima nedostaje konzolna verzija
Description[sr@latin]=Tema za one kojima nedostaje konzolna verzija
Description[sv]=Ett tema för de som saknar terminalversionen
Description[tr]=Konsol sürümüne özlem duyanlar için bir tema
Description[uk]=Тема для тих, хто сумує за консольною версією
Description[zh_CN]=为那些怀念控制台版本的玩家提供的主题
Description[zh_TW]=給那些懷念 console 版本的人玩的主題
VersionFormat=0.9
Author=Parker Coates
AuthorEmail=parker.coates@kdemail.net
Website=https://apps.kde.org/killbots
BugReportUrl=https://bugs.kde.org/enter_bug.cgi?format=guided&amp;product=killbots
Version=1.3
Copyright=2007 Parker Coates
License=GPL-2.0-or-later
Type=SVG
FileName=classic.svgz
Preview=classic.png
