[KGameTheme]
Name=Classic
Name[be]=Класічны
Name[ca]=Clàssic
Name[cs]=Klasický
Name[da]=Klassisk
Name[de]=Klassisch
Name[el]=Κλασσικό
Name[eo]=Klasika
Name[es]=Clásico
Name[et]=Klassikaline
Name[fa]=کلاسیک
Name[fi]=Klassinen
Name[fr]=Classique
Name[ga]=Clasaiceach
Name[gl]=Clásico
Name[hne]=क्लासिक
Name[hu]=klasszikus
Name[it]=Classico
Name[ja]=クラシック
Name[km]=ក្លាស៊ិក
Name[ko]=고전
Name[lt]=Klasikinė
Name[lv]=Klasiska
Name[nds]=Klass'sch
Name[ne]=उत्कृष्ट
Name[nl]=Klassiek
Name[nn]=Klassisk
Name[pl]=Klasyczny
Name[pt]=Clássico
Name[pt_BR]=Clássico
Name[ro]=Clasic
Name[ru]=Классический красный
Name[sl]=Klasična
Name[sv]=Klassiskt
Name[tr]=Klasik
Name[uk]=Класична
Name[wa]=Classike
Name[x-test]=xxClassicxx
Name[zh_CN]=经典
Name[zh_TW]=古典
Description=A theme for those who miss the console version
Description[da]=Et tema til dem der savner konsolversionen
Description[de]=Ein Design für diejenigen, die die Konsolen-Version vermissen
Description[el]=Ένα θέμα γι' αυτούς που αναπολούν την έκδοση κονσόλας
Description[es]=Un tema para aquello que prefieren la versión de consola
Description[et]=Teema neile, kes tunnevad puudust konsooliversioonist
Description[fr]=Un thème pour les nostalgiques de la version dans un terminal
Description[gl]=Un tema para quen teña morriña pola versión da consola
Description[hu]=Téma a konzolos változat kedvelőinek
Description[it]=Un tema per i nostalgici della versione per terminale
Description[km]=ស្បែក​សម្រាប់​អ្នក​ដែល​​បាត់​កំណែ​របស់កុងសែល
Description[lv]=Tēma tiem, kam pietrūkst konsoles versija
Description[nds]=En Muster för de, de na de Konsoolverschoon lengen doot.
Description[nl]=Een thema voor diegenen die de consoleversie misten
Description[nn]=Tema for dei som saknar konsollversjonen
Description[pt]=Um tema para os que sentem saudades da versão para a consola
Description[pt_BR]=Um tema para aqueles que sentem falta da versão para console
Description[ro]=O tematică pentru cei cărora le lipsește versiunea de consolă
Description[sl]=Tema za tiste, ki pogrešajo različico iz ukazne vrstice
Description[sv]=Ett tema för de som saknar terminalversionen
Description[uk]=Тема для тих, хто сумує за консольною версією
Description[x-test]=xxA theme for those who miss the console versionxx
Description[zh_CN]=为那些怀念控制台版本的玩家提供的主题
Description[zh_TW]=給那些懷念 console 版本的人玩的主題
VersionFormat=0.9
Author=Parker Coates
AuthorEmail=parker.coates@gmail.com
Type=SVG
FileName=classic.svg
Preview=classic.png
