[KGameTheme]
Name=Mummy Madness
Name[ca]=Bogeria de les mòmies
Name[da]=Mumie-galskab
Name[de]=Verrückte Mumien
Name[el]=Παράνοια της μούμιας
Name[es]=La locura de la momia
Name[et]=Muumiahullus
Name[fr]=Méchantes momies
Name[it]=Mummie matte
Name[pt]=Loucura das Múmias
Name[pt_BR]=Loucura das múmias
Name[ru]=Безумные мумии
Name[sr]=Лудило с мумијама
Name[sr@latin]=Ludilo s mumijama
Name[sv]=Mumiegalenskap
Name[uk]=Божевілля мумій
Name[x-test]=xxMummy Madnessxx
Name[zh_CN]=疯狂木乃伊
Name[zh_TW]=瘋狂木乃伊
Description=Egyptian style theme with mad mummies.
Description[ca]=Tema d'estil egipci amb mòmies boges.
Description[da]=Tema i egyptisk stil med gale mumier.
Description[de]=Das ägyptische Design mit verrückten Mumien.
Description[el]=Αιγυπτιακό θέμα στυλ με παρανοϊκές μούμιες.
Description[es]=Tema de estilo egipcio con momias locas.
Description[et]=Egiptuse stiilis teema hullude muumiatega.
Description[fr]=Thème égyptien avec des méchantes momies.
Description[it]=Un tema egizio con mummie impazzite.
Description[pt]=Tema de estilo Egípcio com múmias loucas.
Description[pt_BR]=Tema de estilo egípcio com múmias loucas.
Description[ru]=Оформление в египетском стиле с безумными мумиями.
Description[sr]=Тема у египатском стилу, са лудим мумијама
Description[sr@latin]=Tema u egipatskom stilu, sa ludim mumijama
Description[sv]=Tema i egyptisk stil med galna mumier.
Description[uk]=Тема у єгипетському стилі, зі скаженними муміями
Description[x-test]=xxEgyptian style theme with mad mummies.xx
Description[zh_CN]=充满疯狂木乃伊的埃及风主题。
Description[zh_TW]=埃及風格主題，裡面有很多瘋狂木乃伊。
VersionFormat=0.3
Author=Sean Wilson
AuthorEmail=suseux@gmail.com
Type=SVG
FileName=mummy_madness.svgz
Preview=mummy_madness.png
