[KGameTheme]
Name=Default
Name[de]=Standard
Name[el]=Προκαθορισμένο
Name[es]=Predeterminado
Name[et]=Vaikimisi
Name[fr]=Défaut
Name[ga]=Réamhshocrú
Name[gl]=Predeterminado
Name[hi]=डिफ़ॉल्ट
Name[ja]=標準
Name[km]=លំនាំដើម
Name[ku]=Standard
Name[oc]=Defaut
Name[pt]=Predefinição
Name[sv]=Förval
Name[tr]=Öntanımlı
Name[uk]=Типовий
Name[x-test]=xxDefaultxx
Description=The default theme
Description[el]=Το προκαθορισμένο θέμα
Description[et]=Vaiketeema
Description[fr]=Le thème pas défaut
Description[gl]=O tema predeterminado
Description[km]=ស្បែក​លំនាំ​ដើម
Description[pt]=O tema predefinido
Description[sv]=Standardtemat
Description[tr]=Öntanımlı tema
Description[uk]=Типова тема
Description[x-test]=xxThe default themexx
VersionFormat=0.0
Author=Parker Coates
AuthorEmail=parker.coates@gmail.com
Type=SVG
FileName=default.svg
Preview=default.png
