[KGameTheme]
Name=Mountain Adventure
Name[sv]=Bergsäventyr
Description=Indiana Gnomes battles ghosts and bats on a Far-East mountainside. Sprites by Nicu Buculei. Background by Eugene Trounev.
Description[et]=Indiana Gnomes võitleb tontide ja nahkhiirtega Kaug-Ida mägedes.
Description[sv]=Indiana Tomtar strider mot spöken och fladdermöss på en bergssida i fjärran östern.
VersionFormat=0.0
Author=Parker Coates
AuthorEmail=parker.coates@gmail.com
Type=SVG
FileName=mountainadventure.svg
Preview=mountainadventure.png
TextColor=#0a2e17
