[KGameTheme]
Name=Mummy Madness
Description=Egyptian style theme with mad mummies.
VersionFormat=0.3
Author=Sean Wilson
AuthorEmail=suseux@gmail.com
Type=SVG
FileName=mummy_madness.svg
Preview=mummy_madness_preview.png
