[KGameTheme]
Name=Old Default
Description=The old default theme
VersionFormat=0.9
Author=Parker Coates
AuthorEmail=parker.coates@gmail.com
Type=SVG
FileName=olddefault.svg
Preview=olddefault.png
